<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <ul>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'uploaded_files_by_user' %}">My files</a></li>
        <li><a href="{% url 'file_upload' %}">Upload file</a></li>
    </ul>
{% else %}
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
{% endif %}
{% if files %}
    <ul>
    {% for file in files %}
        <li>
            Name: <a href="{{ file.file.url }}" target="_blank">{{ file.name }}</a><br>
            Loaded for {{ file.file_lifetime }} days<br>
            Uploaded: {{ file.created }}<br>
            Life until: {{ file.file_lifetime_date }}<br>
        </li>
    {% endfor %}
    </ul>
{% endif %}
</body>
</html>