<!DOCTYPE html>
<div lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div>
    <div id="errors">
    </div>
    <form id="file_upload_form" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="button" onclick="SendForm()">Upload</button>
    </form>
</div>
</body>
<script>
    function SendForm() {
      const form = document.getElementById('file_upload_form');
      const formData = new FormData(form);
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            console.log(typeof this.responseText);
            var result = JSON.parse(this.responseText)

            if (result.file_uploaded !== true) {
                var error = document.getElementById('errors');
                console.log(typeof result.errors);
                console.log(result.errors);
                var errorStringJSON = JSON.stringify(result.errors);
                error.innerHTML = errorStringJSON;
            };

        }
      };
      xhttp.open("POST", "{% url 'file_upload_ajax' %}", true);
      xhttp.send(formData);
    }
</script>
</html>